@charset 'utf-8';

@import "/assets/style/reset.css";
@import "/assets/style/vendingmachine.css";
@import "/assets/style/myInfo.css";
@import "/assets/style/modal.css";

:root {
  --black: #1c1c1c;
  --pink: #ffc9d1;
  --light-pink: #ffeff1;
  --yellow: #fffba5;
  --white-blue: #ebf9ff;
  --blue: #8cd5ff;
  --light-blue: #d3f0ff;
  --lavender: #b5a9f8;
}

/* 유틸리티 스타일 */
.ir {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.img-item {
  display: block;
}

/* 레이아웃 */
body {
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(255, 224, 229, 1) 0%,
      rgba(255, 252, 198, 1) 32%,
      rgba(204, 241, 255, 1) 70%,
      rgba(215, 208, 255, 1) 100%
    )
    no-repeat center/cover;
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 2.4rem;
  padding-top: 14rem;
  font-weight: 500;
  position: relative;
}

#app::before {
  content: " ";
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 78rem;
  height: calc(100vh - 12rem);
  background-color: #ebf9ff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

#app .tit-app {
  position: absolute;
  width: 30rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#app .tit-app::before {
  content: " ";
  width: 80.6rem;
  height: 11.6rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/canopy.png) no-repeat center/cover;
}

#app .tit-app .img-item {
  position: relative;
  width: 100%;
  padding-top: 0.2rem;
  object-fit: cover;
}

.list-item-staged {
  min-height: 16rem;
  padding: 1.2rem;
  overflow-y: scroll;
  border: 1px solid var(--blue);
  background-color: var(--light-blue);
  border-radius: 0.5rem;
}

/* scroll design */
.list-item-staged::-webkit-scrollbar {
  width: 0.8rem;
}
.list-item-staged::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--blue);
  background-clip: padding-box;
  border: 2px solid transparent;
}
.list-item-staged::-webkit-scrollbar-track {
  background-color: transparent;
}

.list-item-staged li {
  border-radius: 0.5rem;
  background-color: white;
}

.list-item-staged li + li {
  margin-top: 0.6rem;
}

.list-item-staged .btn-staged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
}

.list-item-staged .txt-item {
  font-size: 0.9rem;
  flex-grow: 1;
  margin: 0 0.5rem 0 0.3rem;
}

.list-item-staged .num-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
}

.list-item-staged .img-item {
  width: 3rem;
}

/* media */
@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: #fff;
  }

  #app {
    padding-top: 9.6rem;
  }

  #app .tit-app {
    width: 16.6rem;
  }
}
