/* 자판기 스타일 */
#app .vending-machine {
  flex-basis: 46rem;
  padding: 1.8rem;
  background-color: white;
  background-color: var(--white-blue);
  border-radius: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.vending-machine .list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  justify-items: center;
  padding: 0.7rem;
  border-radius: 1.5rem;
  box-shadow: inset 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.vending-machine .list-item li {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.vending-machine .list-item li.sold-out::before {
  display: block;
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 1rem;
  background: no-repeat center/60px 46px url(../images/Sold-out.png)
    rgba(0, 0, 0, 0.8);
}

.vending-machine .list-item li.sold-out {
  /* 클릭할 수 없게하는 속성 */
  pointer-events: none;
}

.vending-machine .btn-item {
  display: block;
  width: 100%;
  border-radius: 1rem;
  padding: 1.1rem 1.4rem 0.9rem;
}

.vending-machine .btn-item:hover {
  outline: 3px solid var(--yellow);
}

.vending-machine .btn-item:active {
  outline: 3px solid var(--pink);
}

.vending-machine .list-item .img-item {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.vending-machine .tit-item {
  display: block;
  margin: 0.7rem 0 1rem;
  font-size: 1rem;
}

.vending-machine .txt-price {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  background-color: var(--blue);
  border-radius: 5rem;
  color: white;
}

.vending-machine .cont-myitems {
  margin-top: 2rem;
  padding: 1rem 2.7rem 2.6rem;
  background-color: var(--white-blue);
  border-radius: 2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.cont-myitems .tit-myitem {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
  line-height: 2rem;
  color: var(--blue);
}

.cont-myitems .list-item-staged {
  min-height: 20rem;
  filter: blur(5px);
}

.cont-myitems .list-item-staged li {
  padding: 0.8rem;
}